<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Marusya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/add-order">Добавить заказ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>