<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "includes/base_head.html" %}
<body>
    {% if user.is_authenticated %}

        {% include "includes/base_navbar.html" %}


        {% block content %}{% endblock %}
        


    {% endif %}

    <script>
        search = document.getElementById('search'); 
        search.hidden = false;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>