{% extends "base.html" %}


{% block content %}
<div class="row">
    {% for order in orders %}
    <div class="col-md-4">
        <div class="card border-dark m-1 rounded-0">
            <div class="card-header bg-white">
                <h5 class="card-title"> {{order.product}} </h5>
            </div>
            <div class="card-body">
                <p class="card-text"> {{order.current_stage}} </p>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between">
                <a href={{order.id}} class="btn btn-dark">Подробнее</a>
                <p class="card-text"> {{order.client}} </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}